div{
    width: 200px;
    height: 200px;
    background-color: burlywood ;
}
h1{background-color: green;
width: 200px;
}

#one{
    background-color: aquamarine;
    border-width: 5px;
    border-color: black;
    border-style: dotted;
    box-sizing: border-box;
}
#two {
    color: white;
    text-decoration: underline;
    font-weight: bold;
    background-color: blue;
    border-color:hotpink ;
    border-width: 3px;
    border-style: groove;
    box-sizing: border-box;
}

#three {color: white;
    text-decoration: line-through;
    font-weight: lighter;
    background-color: red;
    border: 6px dashed green;
    box-sizing: border-box;
}
#three:hover{color: pink;
text-decoration: none;
font-weight: bold;
background-color: black;
border: 0px;}