
html{font-size: 14px;
   }

body{margin: 0 0 0 0;
    background-color: green;
}

#navheader{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px 20px 20px 20px;
    background-color:white;
   }

#f1{color: black;
    font-weight: bolder;
}

.f2f3{color: gray;
    font-weight: bolder;
}

.signin{
background-color:black;
border-radius: 3px;
color: white;
border-width: 0px;
font-weight: bold;
}
.signin:hover{
    background-color: rgb(155, 154, 154);
    border-width: 0px;
    font-weight: bold;
}
.subscribe{
    background-color: red;
    color:white;
    border-top: 2px red solid;
    border-bottom: 2px red solid;
    border-left: 2px red solid;
    border-right: 2px red solid; 
    border-radius: 3px;
    font-weight: bold;
    }
.subscribe:hover{color:rgb(52, 52, 52);
    background-color: white;
    border-top: 2px red solid;
    border-bottom: 2px red solid;
    border-left: 2px red solid;
    border-right: 2px red solid;
     font-weight: bold;
     }

a{ color: black;
    outline: none;
    text-decoration: none;
    
    }

.linkshover:hover{color: red;border-bottom: red 2px solid;}

.f2f3:hover{color:black;}

#navfooter{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px 0px 0px 20px;
    height: 50px;
    background-color: #e10600;}

#navfooter a{color: white;}
.podkategorije{text-decoration: dashed underline;}
.kategorije{text-decoration: line-through;}
.podkategorije2{text-decoration: solid overline;}
.vijesti{text-decoration: underline;}




ul{list-style: none;}




  