
html{font-size: 16px;
  top:0; }

body{max-width: fit-content;
    
    
    background-color: white;
}
nav{max-width: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e10600;;}

#navheader{max-width: fit-content;
    
    font-size: 12px;
    min-width: 1280px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:white;
   ;
   }
   
   .lineheight{position: static;
    min-width: 1280px;
    line-height:40px;
    padding: 0px 0px 0px 0px;
    display: block;
    
}
#fia{opacity:0.5; 
    margin-top: 15px;
    padding-top:6px ;
    padding-bottom: 6px;
    

}

img.fialogo{border-right: 1px solid gray;
    padding-right: 15px;
  position: absolute;
margin-top: 10px;
margin-left: 20px;}


#f1{color: black;
    font-weight: bolder;
    margin:0px 5px 0px 90px
}

.f2f3{margin:0px 5px 0px 10px;
    color: gray;
    font-weight: bolder;
}
.linkshover{margin-left:20px}
#linkshover1{margin-left: 300px;}


.f1tv{
    margin-left: 30px;
    padding: 6px 15px 6px 15px;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
}
.subscribe{
    margin: 2px 0px 0px 0px;
    padding: 8px;
    background-color: red;
    color:white;
    border-top: 2px red solid;
    border-bottom: 2px red solid;
    border-left: 2px red solid;
    border-right: 2px red solid; 
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.2s ease-out;
    }
.signin{  
    margin-left: 37px;
  background-color:black;
border-radius: 5px;
color: white;
border-width: 0px;
font-weight: bold;
padding: 10px 25px 10px 25px;

}
.signin:hover{
    background-color: rgb(155, 154, 154);
    border-width: 0px;
    font-weight: bold;
    padding: 10px 25px 10px 25px;
    transition: all 0.2s ease-in;
}

.subscribe:hover{color:rgb(52, 52, 52);
    background-color: white;
    border-top: 2px red solid;
    border-bottom: 2px red solid;
    border-left: 2px red solid;
    border-right: 2px red solid;
     font-weight: bold;
     padding: 8px;
     box-sizing: border-box;
     transition: all 0.1s ease-in;
     }

a{ color: black;
    outline: none;
    text-decoration: none;
    
    }

.linkshover:hover{color: red;border-bottom: red 2px solid;}

.f2f3:hover{color:black;}

#navfooter{
    min-width: 1280px;
    position: fixed;
    margin-top:0px;
    padding-top:0px ;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 62px;
    background-color: #e10600;
    align-items: center;
    }


#navfooter a{
    position:relative;
    color: white;
        
}

a .f1logo{float: left;
    position: relative;
    margin-left: 20px;
   padding: 16px;}
.f1logo img{float: left;
    position: relative;
    margin-left: 20px;
   padding: 16px;}


#prvi{float: left;
    position: relative;
       margin-top: 0px;
  
}

.kategorije{float: left;
        position: relative;
        left:0;
        margin-left: 10px;
        box-sizing: border-box;
        padding: 21px;
        padding-top: 22px;
        }

#podkategorije{font-weight: bolder;
    padding-left:20px;
    margin-left: 30;
    display:none; 
    left:0;
    padding-top: 50px;
    background-color: black;
    transition: all 1s ease-in;
    width: 100%;
    }

.kategorije:hover{background-color: black;
transition: all 0.4s ease-in;}

#prvi:hover #podkategorije{
    position: fixed;
    margin-top: 60px;
    display: block;
    background-color: black;
    transition: all 1s ease-in;
    
}
.latest{display: block;
    margin-left: 50px;
    border-bottom: 1px solid gray;
border-right: 1px solid gray;
padding-right: 1150px;
max-width: fit-content;
padding-bottom: 5px;
border-bottom-right-radius:10px ;
transition: all 1s ease-in;}

.vijesti{background-color: black;
border-bottom: 1px solid gray;}
div#gt{color: #e10600;
position: relative;
padding-top: 25px;
margin-left: 2px;
display: inline-block;
font-size: x-large;
}
.news{display: inline-block;
    list-style: none;
margin-left: 10px;
max-width: 300px;
}

.news img{width: 100px;
display: inline-block;}

hr{color:gray; size:1px;}