/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {display: flex;
    justify-content: center;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html{margin:0;
    font-family: 'Titillium Web', sans-serif;}

nav{position: fixed;
    width:100%;
display: flex;
flex-direction: column;
}
a{text-decoration: none;}

#navheader{width: 100%;
    height: 50px;
    display: flex;
justify-content: center;
align-items: center;
background-color: white;
font-family: 'Titillium Web', sans-serif;}

#navheader a{text-decoration: none;
    color: black;
font-weight: 600;
font-size: 12px;}

.lineheight{width: 1320px;
display: flex;
justify-content: center;
align-items: center;
justify-content: space-between;}

.header1{display:flex;
align-items: center;
justify-content: space-between;
width: 200px;}
.header2{display: flex;
align-items: center;
justify-content: space-around;
width: 800px;
}

img.fialogo{border-right: 1px solid gray;
    padding-right: 15px;
    opacity: 50%;
}

.f2f3{
    opacity: 50%;
    }
    
.f1tv{
    
    padding: 6px 15px 6px 15px;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
}
.subscribe{
    padding:12px 15px 12px 15px;
    background-color: red;
    color:white;
    border-top: 2px red solid;
    border-bottom: 2px red solid;
    border-left: 2px red solid;
    border-right: 2px red solid; 
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.2s ease-out;
    font-size: 12px;
    box-sizing: border-box;
    }
.signin{
    background-color:black;
border-radius: 5px;
color: white;
border-width: 2px;
font-weight: bold;
padding:12px 35px 12px 35px;
font-size: 12px;
box-sizing: border-box;
margin-right:-20px;

}
.signin:hover{
    background-color: rgb(155, 154, 154);
    border: 2px rgb(155, 154, 154) solid;
    font-weight: bold;
    padding:12px 35px 12px 35px;
    transition: all 0.2s ease-in;
}

.subscribe:hover{color:rgb(52, 52, 52);
    background-color: white;
    border-top: 2px #e10600 solid;
    border-bottom: 2px #e10600 solid;
    border-left: 2px #e10600 solid;
    border-right: 2px #e10600 solid;
     font-weight: bold;
     padding:12px 15px 12px 15px;
     box-sizing: border-box;
     transition: all 0.1s ease-in;
     }
     .linkshover:hover{color: #e10600;border-bottom: #e10600 2px solid;}

     .f2f3:hover{color:black;
    opacity: 100%;}

#navfooter{width: 100%;
    height: 60px;
display: flex;
justify-content: center;
background-color: #e10600;
font-family: 'Titillium Web', sans-serif;}

.lineheight2{width: 1320px;
    display: flex;
    
        box-sizing: border-box;
    }

div.kategorije{
    width: 1000px;
    display: flex;
    justify-content: flex;
justify-content: space-evenly;
align-items: center;
color: white;}

a.kategorijelink{color: white;
text-decoration: none;
font-family: 'Titillium Web', sans-serif;
font-size: 18px;
font-weight: 400;
padding:21px 16px 21px 16px;
}

a#prvi{padding:16px 16px 17px 16px;
    color: white;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 400;
}






main{margin-top:130px;
    width: 1320px;
display: flex;
justify-content: center;
font-family: 'Titillium Web', sans-serif;}

.maincontainer{

width:1200px;
height:800px;
display: flex;
justify-content: center;
justify-content: space-around;
}

.subcontainer1{font-family: 'Titillium Web', sans-serif;
    background-color:white;
border-right:10px solid #e10600;
border-top:10px solid #e10600;
border-top-right-radius: 30px;
width: 650px;
height: 1000px;
box-sizing: border-box;
display: flex;
flex-direction: column;
padding-top:20px;
padding-right: 20px;
}

.subcontainer2{background-color:white;
    border: 1px dotted #e10600;
    width: 650px;
    height: 1000px;}

    .tag{color:#e10600;
    font-size: 12px;}

    .f1title{margin-top:10px;
        letter-spacing: 0.2px;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 20px;
    font-family: 'Titillium Web', sans-serif;
    color: black;
}
.f1title:hover{text-decoration: underline;}

.kategorijelink{color: white;text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding:21px 16px 21px 16px;

}

.kategorijelink:hover{background-color: black;
    transition: all 0.4s;font-family: 'Titillium Web', sans-serif;
padding:21px 16px 21px 16px;
box-sizing: border-box;}



#podkategorije{
    position:absolute;   
background-color: rgb(20, 19, 28);
padding-top: 50px;
margin-top: 21px;
display:none;
margin-left: -608px;
width: 200%;
padding-left: 500px;
box-sizing: border-box;
padding-right: 200px;
}

.dropdown{padding:21px 0px;
box-sizing: border-box;
color: white;}
.dropdown:hover{background-color: black;
    transition: all 0.4s;
    padding:21px 0px;
box-sizing: border-box;}


.dropdown:hover #podkategorije{
display:block;
width: 200%;
}

.latest{color:white;
    display: inline-block;
font-size: 18px;
display: flex;
align-items: center;
box-sizing: border-box;
letter-spacing: 0.4px;
font-weight: 600;
border-right: 1px solid gray;
border-bottom: 1px solid gray;
width: fit-content;
padding-bottom: 15px;
padding-right: 800px;
border-bottom-right-radius:10px ;
}

.latest:hover{text-decoration: 3px underline #e10600;
}



#gt{color:#e10600;
transform: scaleY(1.5);
margin-top: -5px;
box-sizing: border-box;
}

.podkategorije2{margin-top:40px;
display: flex;
height: 450px;
font-family:'Titillium Web', sans-serif;}

.naslov{color:white;
    font-size: 18px;
    box-sizing: border-box;
    letter-spacing: 0.4px;
    font-weight: 600;
    width: 300px;
   display: flex;
   flex-direction: column;
   margin-right: 20px;
   
}



.vijesti{display: flex;
    margin-bottom: 15px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.vijesti:hover{border-bottom: 1px solid #e10600;
transition: all 0.4s ease-in;}

.naslov h3{margin-bottom: 15px;}

.vijesti img{width: 100px; margin-right: 15px; border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
float: left; margin-bottom: 50px;
}

.vijesti:nth-of-type(3) img{margin-bottom: 0px;}

.vijesti h4{color: white; 
    font-size: 11px;
   display: block;
 }


.vijesti p {color: white;
      font-size: 16px;
      font-weight: 400;
   }
.naslov2{color:white;
    font-size: 18px;
    box-sizing: border-box;
    letter-spacing: 0.4px;
    font-weight: 600;
    width: 1000px;
    height: 400px;
   margin-right: 20px;}

.naslov2 h3{margin-bottom: 15px;
height: fit-content;
display: block;}

.kontenjer{display: flex;
flex-wrap: wrap;
justify-content: center;
justify-content: space-around;
align-content: space-around;
align-items: center;
height:auto;margin:0 auto;
}

.teme{display: flex;
    align-items: center;
    justify-content: center;
     box-sizing: border-box;
border-radius: 20px;
min-height: 1px;
font-size: 18px;
text-decoration: none;
border:1px solid gray;
height: 100%;
margin-bottom: 15px;

}
.teme a{box-sizing: border-box; text-decoration: none;
    width: max-content;
    height: max-content;

}

.teme span{display: flex;justify-content: center;
    align-items: center;
    color: white;
}
.teme img{width: fit-content;
}


.teme:nth-of-type(1){background-image: url(https://www.formula1.com/content/dam/fom-website/manual/Misc/2022manual/LasVegas/Circuit%20Reveal.jpg.transform/2col/image.jpg);
    height: 120px;
    width:300px;
    background-size: cover;
    background-position: center;
    }
.teme:nth-of-type(1):hover{background-image: url(https://www.formula1.com/content/dam/fom-website/manual/Misc/2022manual/LasVegas/Circuit%20Reveal.jpg.transform/2col/image.jpg);
    height: 120px;
    width:300px;
    
    background-position: center;
    border:1px #e10600 solid;
    font-weight: 700;
    letter-spacing: 0.4px;
  
    background-size: 105%;
    }
.teme:nth-of-type(2){background-image: url(https://www.formula1.com/content/dam/fom-website/2018-redesign-assets/Tag%20collections/Other/Race-calendar.jpg.transform/2col/image.jpg);
    height: 120px;
    width:300px;
    background-size: cover;
    background-position: center;
    }
.teme:nth-of-type(2):hover{background-image: url(https://www.formula1.com/content/dam/fom-website/2018-redesign-assets/Tag%20collections/Other/Race-calendar.jpg.transform/2col/image.jpg);
    height: 120px;
    width:300px;
    background-size: cover;
    background-position: center;
    background-position: center;
    border:1px #e10600 solid;
    font-weight: 700;
    letter-spacing: 0.4px;
    background-size: 105%;
    }
.teme:nth-of-type(3){background-image: url(https://www.formula1.com/content/dam/fom-website/2018-redesign-assets/Tag%20collections/Other/sustainability%20b.jpg.transform/2col/image.jpg);
    height: 120px;
    width:300px;
    background-size: cover;
    background-position: center;
    }
.teme:nth-of-type(3):hover{background-image: url(https://www.formula1.com/content/dam/fom-website/2018-redesign-assets/Tag%20collections/Other/sustainability%20b.jpg.transform/2col/image.jpg);
    height: 120px;
    width:300px;
    background-size: cover;
    background-position: center;
    background-position: center;
    border:1px #e10600 solid;
    font-weight: 700;
    letter-spacing: 0.4px;
    background-size: 105%;
    }
.teme:nth-of-type(4){background-image: url(https://www.formula1.com/content/dam/fom-website/2018-redesign-assets/Tag%20collections/Other/Beyond%20The%20Grid%20Header%202022.jpg.transform/2col/image.jpg);
    height: 120px;
    width:300px;
    background-size: cover;
    background-position: center;
    }
.teme:nth-of-type(4):hover{background-image: url(https://www.formula1.com/content/dam/fom-website/2018-redesign-assets/Tag%20collections/Other/Beyond%20The%20Grid%20Header%202022.jpg.transform/2col/image.jpg);
    height: 120px;
    width:300px;
    background-size: cover;
    background-position: center;
    background-position: center;
    border:1px #e10600 solid;
    font-weight: 700;
    letter-spacing: 0.4px;
    background-size: 105%;
    }

.teme:nth-of-type(5){background-image: url(https://www.formula1.com/content/dam/fom-website/2018-redesign-assets/Tag%20collections/Other/technical.jpg.transform/2col/image.jpg);
    height: 120px;
    width:300px;
    background-size: cover;
    background-position: center;
    }
.teme:nth-of-type(5):hover{background-image: url(https://www.formula1.com/content/dam/fom-website/2018-redesign-assets/Tag%20collections/Other/technical.jpg.transform/2col/image.jpg);
    height: 120px;
    width:300px;
    background-size: cover;
    background-position: center;
    background-position: center;
    border:1px #e10600 solid;
    font-weight: 700;
    letter-spacing: 0.4px;
    background-size: 105%;
    }

.teme:nth-of-type(6){background-image: url(https://www.formula1.com/content/dam/fom-website/2018-redesign-assets/Tag%20collections/Other/Driver_market.jpg.transform/2col/image.jpg);
height: 120px;
width:300px;
background-size: cover;
background-position: center;
}
.teme:nth-of-type(6):hover{background-image: url(https://www.formula1.com/content/dam/fom-website/2018-redesign-assets/Tag%20collections/Other/Driver_market.jpg.transform/2col/image.jpg);
height: 120px;
width:300px;
background-size: cover;
background-position: center;
background-position: center;
    border:1px #e10600 solid;
    font-weight: 700;
    letter-spacing: 0.4px;
    background-size: 105%;
}

.dropdown a.kategorijelink:hover{padding: 0px 16px;
    background-color: black;
    transition: all 0.4s;

box-sizing: border-box;}

.latest2{display: flex;
    color:white;
    display: inline-block;
font-size: 18px;
display: flex;
align-items: center;
box-sizing: border-box;
letter-spacing: 0.4px;
font-weight: 600;
border-right: 1px solid gray;
border-bottom: 1px solid gray;
width: fit-content;
padding-bottom: 15px;
padding-right: 950px;
border-bottom-right-radius:10px ;}

.latest21{display: flex;
    color:white;
    display: inline-block;
font-size: 18px;
display: flex;
align-items: center;
box-sizing: border-box;
letter-spacing: 0.4px;
font-weight: 600;
width: fit-content;
padding-right: 15px;
border-bottom-right-radius:10px ;}

.latest21:hover{text-decoration: 3px underline #e10600;
}

#podkategorije2{
    position:absolute;   
background-color: rgb(20, 19, 28);
padding-top: 50px;
margin-top: 21px;
display:none;
margin-left: -623px;
width: 200%;
padding-left: 332px;
box-sizing: border-box;
padding-right: 200px;
height: 450px;
}

.dropdown:hover #podkategorije2{
    display:block;
    width: 200%;
    }
    
.naslov211 {color:white;
        font-size: 18px;
        box-sizing: border-box;
        letter-spacing: 0.4px;
        font-weight: 600;
        width: 300px;
       height: 300PX;
       margin-right: 20px;
       
    }
    .naslov211 a{color:white;
    text-decoration: none;}



.kartica{height:250px;
width: 240px;
margin-left: 50px;
border-top:10px solid rgba(196, 196, 196, 0.139);
border-right:10px solid rgba(196, 196, 196, 0.139);
position: absolute;
border-top-right-radius: 30px;
margin-top: -14px;
}

.imgtrke{background-image: url(https://www.formula1.com/content/dam/fom-website/races/2023/Bahrain_Grand_Prix.png);
width: 270px;
height:120px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
background-size: cover;
background-position: center;
margin-top: 15px;
box-sizing: border-box;
border: 0px;
}

.utrkekartice{display: flex;
flex-direction: column;
width: 270px;

}

.opis{margin-top: 10px;
    display: flex;
flex-direction: column;
width:270px;
height: 100px;
justify-content: space-between;
box-sizing: border-box;
border-bottom:1px solid gray;
border-right:1px solid gray;
border-bottom-right-radius: 20px;}


.opis span:nth-of-type(1){color: rgba(255, 255, 255, 0.344);}
.utrkekartice:hover .opis span{color:white;}

.utrkekartice:hover .opisborder{display: block;}
.utrkekartice:hover .imgtrke{background-size: 105%;
    transition: 0.5s ease-in;
box-sizing: border-box;width: 270px;
height:120px;}
.utrkekartice:hover .opis{
    border-bottom: 1px solid #e10600;
    border-right: 1px solid #e10600;
    border-bottom-right-radius: 20px;}

    .imgtrke2{background-image: url(https://www.formula1.com/content/dam/fom-website/races/2023/Saudi_Arabian_Grand_Prix.png);
        width: 270px;
        height:120px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        background-size: cover;
        background-position: center;
        margin-top: 15px;
        box-sizing: border-box;
        border: 0px;
        }
        .utrkekartice:hover .imgtrke2{background-size: 105%;
            transition: 0.5s ease-in;
        box-sizing: border-box;width: 270px;
        height:120px;}



        .imgtrke3{background-image: url(https://www.formula1.com/content/dam/fom-website/races/2023/Australian_Grand_Prix.png);
            width: 270px;
            height:120px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            background-size: cover;
            background-position: center;
            margin-top: 15px;
            box-sizing: border-box;
            border: 0px;
            }
            .utrkekartice:hover .imgtrke3{background-size: 105%;
                transition: 0.5s ease-in;
            box-sizing: border-box;width: 270px;
            height:120px;}


            .imgtrke4{background-image: url(https://www.formula1.com/content/dam/fom-website/races/2023/Azerbaijan_Grand_Prix.png);
                width: 270px;
                height:120px;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                background-size: cover;
                background-position: center;
                margin-top: 15px;
                box-sizing: border-box;
                border: 0px;
                }
                .utrkekartice:hover .imgtrke4{background-size: 105%;
                    transition: 0.5s ease-in;
                box-sizing: border-box;width: 270px;
                height:120px;}